<div class="col-12 mb-3 ">
  <h1>New Post Request</h1>
</div>
<div class="col-12 mb-3 border-bottom" *ngFor="let data of newposts">
  <div class=" p-3">
    <p><b>KEYWORDS</b> : {{data.title}}</p>
    <p><b>ERROR DESCRIPTION</b> : {{data.error_description}}</p>
    <p><b>SOLUTIONS</b> : {{data.solution}}</p>
    <p>
      <button mat-raised-button class="mr-2" (click)="updateRequest(data,'approve')" color="primary">Approve</button>
      <button mat-raised-button class="mr-2" (click)="updateRequest(data,'reject')" color="warn">Reject</button>
    </p>
  </div>
</div>
