<div class="s131" *ngIf="showData">
  <form>
    <div class="inner-form" >
      <div class="input-field first-wrap">
        <input id="search" *ngIf="showData" type="text" [(ngModel)]="nameSearch" name="name"
          placeholder="What are you looking for?">
      </div>
      <div class="input-field third-wrap">
        <button *ngIf="showData" [disabled]="disabled()" (click)="getSolutions()" class="btn-search" name="search"
          type="button">SEARCH</button>
      </div>
    </div>
    <h6 *ngIf="isError" class="text-danger mt-3">{{error}}</h6>
  </form>
</div>

<div class="container-fluid">
  <div *ngIf="!showData && !isError"  class="row">
    <div class="col-sm-8 mt-3">
      <h3>Search result for : <strong>'{{nameSearch}} '</strong>  </h3>
    </div>
    <div class="col-sm-4  mt-3 text-md-right">
       <button  *ngIf="!showData" mat-button color="primary" class="" (click)="searchAgain()">Search again</button>
    </div>
    <div class="col-12 mt-3" *ngFor="let data of result | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
      <div class="card p-3">
        <p><b>KEYWORDS</b> : {{data.title}}</p>
        <p><b>ERROR DESCRIPTION</b> : {{data.error_description}}</p>
        <p><b>SOLUTIONS</b> : {{data.solution}}</p>
      </div>
    </div>
    <div class="col-12 mb-5 mt-3 " *ngIf="!showData && result.length > itemsPerPage">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
