<div class="container-fluid ">
  <div class="row mt-5" [ngClass]="{'mt-5': isSuperUser}">

    <div class="col-md-3 mb-2 "  *ngIf="isSuperUser">
      <div class="p-3 bg-success box text-white text-center">
        <h4 class="mt-3 ">Total Posts</h4>
        <h1 class="display-1 m-0">{{datalist?.length}} </h1>
      </div>
    </div>
    <div class="col-md-3 mb-2 "  *ngIf="isSuperUser">
      <div class="p-3 bg-magenta box text-white text-center">
        <h4 class="mt-3 ">New Posts</h4>
        <h1 class="display-1 m-0">{{newPosts?.length}} </h1>
      </div>
    </div>

    <div class="col-md-3 mb-2 "  *ngIf="isSuperUser">
      <div class="p-3 bg-danger box text-white text-center">
        <h4 class="mt-3 ">Reported Posts</h4>
        <h1 class="display-1 m-0">{{reportList?.length}} </h1>
      </div>
    </div>

    <div class="col-md-3 mb-2 "  *ngIf="isSuperUser">
      <div class="p-3 bg-magenta box text-white text-center">
        <h4 class="mt-3 ">Update Request</h4>
        <h1 class="display-1 m-0">{{updateRequest?.length}} </h1>
      </div>
    </div>




    <div class="col-12 mt-3 "  >
      <button mat-button color="primary" (click)="route()">Create New</button>
      <button mat-button color="warn"  *ngIf="updateRequest?.length > 0 && isSuperUser "(click)="openUpdateRequestDialog()" >View Update Request</button>
      <button mat-button color="warn"  *ngIf="reportList?.length > 0 && isSuperUser "(click)="openReportDialog()" >View Report Request</button>
      <button mat-button color="warn"  *ngIf="newPosts?.length > 0 && isSuperUser "(click)="openNewPostDialog()" >View Post Request</button>
      <button mat-button  class="mr-2 float-right" color="warn"
      (click)="export()">Export</button>
    </div>
    <div class="col-12 mb-3  mt-3" *ngFor="let data of datalist | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
      <div class="card ">
        <div class="card-body">
          <p><b>KEYWORDS</b> : {{data.title}}</p>
          <p><b>ERROR DESCRIPTION</b> : {{data.error_description}}</p>
          <p><b>SOLUTIONS</b> : {{data.solution}}</p>
          <p class="card-text"><small class="text-muted">
            Posted by {{data.user}}
          </small></p>

          <p class="border-top pt-2 mb-0">
            <button mat-button class="mr-2" (click)="postLikes(data)" color="primary">Helped </button>
           <span *ngIf="data?.likes.length > 0" class="mr-3">{{data?.likes.length}} </span>
            <button mat-button class="mr-2"  (click)="openUpdateDialog(data)" color="primary">Update</button>
            <button mat-button class="mr-2" *ngIf="isSuperUser" color="warn" (click)="deleteItem(data._id)">Delete</button>
            <button mat-button *ngIf="!isSuperUser" class="mr-2" color="warn" (click)="openReportReasonDialog(data)">Report</button>
          </p>

        </div>

      </div>
    </div>
    <div class="col-12  pt-3 pb-5 mb-5" *ngIf="datalist?.length > itemsPerPage">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
