/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } */

  .img{
      width:50%
  }
  .form-control{
    width:400px;
    margin-top: 15px;

  }
  .btn-magenta{
    background: #e20074;
    color: #fff;
    border-radius: 0;
    width: 120px;
  }
  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    left:0
  }
 